.range-wrap {
  width: 100%;
  padding: 0;
  overflow: hidden;
}
ul.grafic-list {
  display: flex;
  margin: 0;
  justify-content: space-between;
  list-style: none;
  padding: 10px 10px 20px;
  background-color: chocolate;
}
