.flex{
  display: flex;
  flex-direction: column;
}
.costs{
  padding: 5px;
  border-radius: 10px;
  background-color: aqua;
}
.costs-backg{
  background-color: blueviolet;
}

.addCost{
  align-self: center;
  background-color: blue;
  margin: 10px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  span{
    color: chocolate;
  }
}

