.flex{
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
}


.addCost{
  align-self: center;
  background-color: blue;
  margin: 10px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  span{
    color: chocolate;
  }
}

